
<div id="show"></div>
@using Ecommerce.DomainLayer.models
@model IEnumerable<CartItemViewModel>



<div id="all-cartitems">
    <partial name="_allCartItems" model="@Model" />
</div>
    
 <script src="~/js/jquery-1.11.0.min.js"></script>

