
                                    @*{ index of admin }*@
<div class="container-fluid mt-5">
        
    <div class="row justify-content-around">
         <div class="col-3  p-4  border-dark bg-black rounded-3">
            <a class="nav-link text-white  text-center bg-black" asp-area="" asp-controller="Category" asp-action="Index">Mange Category <i class="fa-solid fa-plus text-white"></i></a>
       </div>
        <div class="col-4  p-4  border-dark bg-black rounded-3">
            <a class="nav-link text-white text-center" asp-area="" asp-controller="Product" asp-action="CreateProduct">add product <i class="fa-solid fa-plus"></i></a>
        </div>

        <div class="col-3  p-4   border-dark bg-black rounded-3">
            <a class="nav-link text-white  text-center text-xxl-center" asp-area="" asp-controller="SupCategory" asp-action="index">Mange Sub Category <i class="fa-solid fa-plus"></i></a>
            </div>
    </div>
    
    <br />
    <div class="row justify-content-around">
         <div class="col-3  p-4  border-dark bg-black rounded-3 ">
            <a class="nav-link text-white  text-center bg-black" asp-area="" asp-controller="Category" asp-action="Index">Mange users <i class="fa-solid fa-plus text-white"></i></a>
       </div>
        <div class="col-4  p-4  border-dark bg-black rounded-3">
           <h6>

 <a class="nav-link text-white text-center tex" asp-area="" asp-controller="Product" asp-action="CreateProduct">roles <i class="fa-solid fa-user-pen text-white"></i>
</a>
</h6>
        </div>

        <div class="col-3  p-4   border-dark bg-black rounded-3">
            <a class="nav-link text-white  text-center text-xxl-center" asp-area="" asp-controller="SupCategory" asp-action="index">Reports <i class="fa-solid fa-chart-line"></i></a>
            </div>
    </div>
    <br />
     <div class="row justify-content-around">
         <div class="col-3  p-4  border-dark bg-black rounded-3 ">
            <a class="nav-link text-white  text-center bg-black" asp-area="" asp-controller="Category" asp-action="Index">Mange users <i class="fa-solid fa-plus text-white"></i></a>
       </div>
        <div class="col-4  p-4  border-dark bg-black rounded-3">
           <h6>

 <a class="nav-link text-white text-center tex" asp-area="" asp-controller="Product" asp-action="CreateProduct">roles <i class="fa-solid fa-user-pen text-white"></i>
</a>
</h6>
        </div>

        <div class="col-3  p-4   border-dark bg-black rounded-3">
            <a class="nav-link text-white  text-center text-xxl-center" asp-area="" asp-controller="SupCategory" asp-action="index">trade marks <i class="fa-solid fa-trademark"></i></a>
            </div>
    </div>
   
</div>