

<div class="container-fluid mt-5">
        
    <div class="row justify-content-around">
         <div class="col-3 bg-success p-4  ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Mange Category</a>
       </div>
        <div class="col-4 bg-success p-4">
            <a class="nav-link text-dark  " asp-area="" asp-controller="Product" asp-action="CreateProduct">add product</a>
        </div>

        <div class="col-3 bg-success p-4">
            <a class="nav-link text-dark" asp-area="" asp-controller="SupCategory" asp-action="index">Mange Sub Category</a>
            </div>
    </div>
   
</div>